@{
    ViewData["Title"] = ViewData["Title"] ?? "العنوان الافتراضي";
}

<div class="container">
    <h2 class="text-center mt-4 text-success">لوحة التحكم</h2>
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card shadow p-3">
                <h4>عدد المحطات</h4>
                <p class="display-5 fw-bold text-primary">1500</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3">
                <h4>حالة التصحر</h4>
                <p class="display-5 fw-bold text-danger">70%</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3">
                <h4>التغطية الزمنية</h4>
                <p class="display-5 fw-bold text-success">5 سنوات</p>
            </div>
        </div>
    </div>
</div>